.waze-link {
  display: inline-block;
  background: #33ccff;
  color: #06364a;
  font-weight: 900;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 10px;
  margin-top: 6px;
}

.waze-link:hover {
  opacity: 0.85;
}
